body {
    display: flex;
    justify-content: center;
    background: rgba(224,224,224,1);
    height: 100vh;
}
.wrapper {
    margin-top: 30px;
    max-width: 1024px;
    width: 1024px;
    display: flex;
    justify-content: center;
    min-height: 500px;
    border-radius:10px;
    overflow: hidden;
}

.sidebar {
    background: white;
    width: 15%;
    height: inherit;
    /*min-height: 500px;*/
}

.sidebar__listContainer {
    height: 77.5%;

}

.sidebar__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sidebar__list li {
    margin-bottom: 50px;
}
.sidebar__imgBlock {
    height: 150px;
}

.sidebar__avatar {
    height: 50px;
    margin: 20px;
    border: 1px solid #e70012;
    border-radius: 50%;

}
.mainContent {
    width: 85%;
    /*min-height: 500px;*/
    background-color: #e70012;
}


.header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 89%, rgba(237,237,237,1) 100%);
}

.header__list {
    width: 100%;
}

.header__listItems {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.content {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__itemWrapper {
    background-color: dimgrey;
    width: 100%;
}

.content__itemImage {
    max-height: 150px;
}

.content__item {
    margin: 20px;
    background-color: white;
}